::ng-deep .asx-header{
  &.p-menubar{
  margin: 0 1em;
  background-color: #0b1a2c;
  .p-menubar-start{
    width: 75px;
    img{
      width: 100%;
    }
  }
  ul{
    padding-left: 2em;
    .p-menuitem{
      background-color: #fff;
      color: black;
      border-radius: 0.375rem;
      margin-right: 1em;
    }
  }
  }
}
