.grid {
  width: 100%;
  height: 50vh;
  /* margin: 1em 0; */
}
::ng-deep .ag-root-wrapper{
  width: 100%;
  }
::ng-deep .contest-panel{
  &.p-panel{
    position: relative;
    .p-panel-header{
      .p-grid{
        width: 100%;
        .p-col-7,.p-col-5{
          padding: 0;
        }
        .p-col-12{
          text-align: right;
        }
        button{
          margin: 0 1em;
        }
        span{
          width: 100%;
          input{
            width: 100%;
          }
        }
      }
    }
  }
}
.fab-container{
  position: absolute;
  top: 90%;
  left: 97%;
  button{
    width: 4em;
    height: 4em;
  }
}
