<p-confirmDialog></p-confirmDialog>
<p-panel styleClass="contest-panel" [@flipOnEnter]>
  <ng-template pTemplate="header">
    <div class="p-grid">
      <div class="col-7">
        <h2>Clientes Grid</h2>
      </div>
      <div class="col-5">
        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            pInputText
            [(ngModel)]="filter"
            (ngModelChange)="onFilterChange()"
          />
          <label for="float-input">Filter</label>
        </span>
      </div>
    </div>
  </ng-template>
  <ag-grid-angular
    class="ag-theme-balham grid"
    [gridOptions]="gridOptions"
    id="gridPerguntas"
  >
    <!--  (gridReady)="test($event)" -->
  </ag-grid-angular>
  <div class="fab-container">
    <button
      pButton
      pRipple
      type="button"
      (click)="onAddButtonClick()"
      icon="pi pi-plus"
      class="p-button-rounded p-button-success"
    ></button>
  </div>
</p-panel>



<!-- <p-dialog [(visible)]="modalInfoShow" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
<contest-modal-info></contest-modal-info>

</p-dialog>
 -->
