@import "../../../../scss/modal-header";

.custom-grid {
  width: 100%;
  margin: 0;
  padding: 1em 0.5em;
  height: 70vh;
  overflow-y: overlay;
  .p-float-label {
    margin-bottom: 1em;
    transition: 500ms;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 1em; */
  border-top: solid 3px #d2d2d2;
}
