<!-- <div class="header-container">
  <div
    class="header"
    [class.add]="gameItem.id === ''"
    [class.edit]="gameItem.id !== '' && isEdiable"
    [class.info]="gameItem.id !== '' && !isEdiable"
  >
    <div class="header-text" [class.long-name]="modalTitle.length > 40">
      <h2>
        {{ modalTitle }}
      </h2>
      <p-selectButton
        *ngIf="gameItem.id !== ''"
        [options]="isEdiableSwitchArr"
        [(ngModel)]="isEdiable"
        optionLabel="label"
        optionValue="value"
      ></p-selectButton>
    </div>

    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-times"
      (click)="dialogRef.close()"
      class="p-button-rounded p-button-text p-button-plain"
    ></button>
  </div>
</div> -->
