.grid {
  width: 100%;
  height: 55vh;
  /* margin: 1em 0; */
}
::ng-deep .ag-root-wrapper {
  width: 100%;
}
::ng-deep .contest-panel {
  &.p-panel {
    position: relative;
    .p-panel-header {
      .p-grid {
        width: 100%;
        .p-col-7,
        .p-col-5 {
          padding: 0;
        }
        .p-col-12 {
          text-align: right;
        }
        button {
          margin: 0 1em;
        }
        span {
          width: 100%;
          input {
            width: 100%;
          }
        }
      }
    }
  }
}
.fab-container {
  position: absolute;
  top: 95%;
  left: 98%;
  button {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: #609af8;
    border-style: none;
  }
}
