/* You can add global styles to this file, and also import other style files */
//Ag-grid
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

// PrimeNg
@import "~primeng/resources/themes/tailwind-light/theme.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/primeng.min.css";

//Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "@fontsource/exo";

@import "./scss/nebular-gradiente-hero";
@import "./scss/primeflex";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  height: 100vh;
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
  font-family: "Exo" /*,  "Helvetica Neue", sans-serif */;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("/assets/background.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 1;
  }
}

/* body {
  // background: linear-gradient(180deg, #061628 0%, #2c3542 100%);
   margin-top: constant(safe-area-inset-top);
   margin-top: env(safe-area-inset-top);
   height: calc(100% - constant(safe-area-inset-top));
   height: calc(100% - env(safe-area-inset-top));
   height: 100vh;

   @media (max-width: 839px) {
     background: linear-gradient(180deg, #061628 0%, #2c3542 100%);
   }
   @media (min-width: 840px) {
     background: linear-gradient(180deg, #061628 0%, #2c3542 100%);
     position: relative;


   }
 } */
