.header-container {
  width: 100%;
  .header {
    transition: 500ms;
    color: #fff;
    &.add {
      background-color: #2dd36f;
    }
    &.edit {
      background-color: #ffc409;
    }
    &.info {
      background-color: #0b1a2c;
    }
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      &.long-name{
        width: 70%;

      }
      h2{
        margin: 0;
      }
    }
  }
}
