<div class="header-container">
  <div
    class="header"
    [class.add]="clientItem.id === ''"
    [class.edit]="clientItem.id !== '' && isEditable"
    [class.info]="clientItem.id !== '' && !isEditable"
  >
    <div class="header-text" [class.long-name]="modalTitle.length > 40">
      <h2>
        {{ modalTitle }}
      </h2>
      <p-selectButton
        *ngIf="clientItem.id !== ''"
        [options]="isEdiableSwitchArr"
        [(ngModel)]="modalState"
        (onChange)="onModalStateChange($event)"
        optionLabel="label"
        optionValue="value"
      ></p-selectButton>
    </div>

    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-times"
      (click)="dialogRef.close()"
      class="p-button-rounded p-button-text p-button-plain"
    ></button>
    <!--   -->
  </div>
</div>
<form (ngSubmit)="saveItem()" #clienteModal="ngForm">
  <div class="custom-grid p-grid p-fluid p-formgrid">
    <div class="col-6">
      <span class="p-float-label">
        <input
          id="clienteItemNome"
          type="text"
          [disabled]="!isEditable"
          pInputText
          [(ngModel)]="clientItem.nome"
          name="clienteItemNome"
          required
        />
        <label for="clienteItemNome">Nome</label>
      </span>
    </div>
    <div class="col-6">
      <span class="p-float-label">
        <input
          id="clienteItemEmpresa"
          type="text"
          [disabled]="!isEditable"
          pInputText
          [(ngModel)]="clientItem.empresa"
          name="clienteItemEmpresa"
          required
        />
        <label for="clienteItemEmpresa">Empresa</label>
      </span>
    </div>
    <div class="col-12">
      <span class="p-float-label">
        <input
          id="clienteItemRamoOuAtividade"
          type="text"
          [disabled]="!isEditable"
          pInputText
          [(ngModel)]="clientItem.ramoOuAtividade"
          name="clienteItemRamoOuAtividade"
          required
        />
        <label for="clienteItemRamoOuAtividade">Ramo ou Atividade</label>
      </span>
    </div>
    <div class="col-12">
      <p-divider align="center">
        <b>Endereço</b>
      </p-divider>
    </div>
    <div class="col-12">
      <span class="p-field p-float-label">
        <p-inputMask
          inputId="clienteItemEnderecoCep"
          [disabled]="!isEditable"
          (ngModelChange)="onCepChange($event)"
          mask="99999-999"
          [ngModelOptions]="{ updateOn: 'blur' }"
          [(ngModel)]="clientItem.endereco.cep"
          name="clienteItemEnderecoCep"
          [required]="true"
        ></p-inputMask>
        <label for="clienteItemEnderecoCep">CEP</label>
      </span>
    </div>
    <div class="col-12">
      <span class="p-float-label">
        <input
          id="clientItemEnderecoLogradouro"
          type="text"
          [disabled]="!isEditable"
          pInputText
          [(ngModel)]="clientItem.endereco.logradouro"
          name="clientItemEnderecoLogradouro"
          required
        />
        <label for="clientItemEnderecoLogradouro">Logradouro(Rua)</label>
      </span>
    </div>

    <div class="col-6">
      <span class="p-float-label">
        <p-inputNumber
          inputId="clientItemEnderecoNumero"
          [min]="0"
          [max]="9999"
          [disabled]="!isEditable"
          [useGrouping]="false"
          [(ngModel)]="clientItem.endereco.numero"
          name="clientItemEnderecoNumero"
          [required]="true"
        ></p-inputNumber>
        <label for="clientItemEnderecoNumero">Numero</label>
      </span>
    </div>
    <div class="col-6">
      <span class="p-float-label">
        <input
          id="clientItemEnderecoComplementoo"
          type="text"
          [disabled]="!isEditable"
          pInputText
          [(ngModel)]="clientItem.endereco.complemento"
          name="clientItemEnderecoComplemento"
        />
        <label for="clientItemEnderecoComplementoo">Complemento</label>
      </span>
    </div>

    <div class="col-4">
      <span class="p-float-label">
        <input
          id="clientItemEnderecoBairro"
          type="text"
          [disabled]="!isEditable"
          pInputText
          [(ngModel)]="clientItem.endereco.bairro"
          name="clientItemEnderecoBairro"
          required
        />
        <label for="clientItemEnderecoBairro">Bairro</label>
      </span>
    </div>
    <div class="col-4">
      <span class="p-float-label">
        <input
          id="clientItemEnderecoLocalidade"
          type="text"
          [disabled]="!isEditable"
          pInputText
          [(ngModel)]="clientItem.endereco.localidade"
          name="clientItemEnderecoLocalidade"
          required
        />
        <label for="clientItemEnderecoLocalidade">Localidade(Municipio)</label>
      </span>
    </div>
    <div class="col-4">
      <span class="p-float-label">
        <p-inputMask
          inputId="clientItemEnderecoUF"
          [disabled]="!isEditable"
          mask="aa"
          (ngModelChange)="$event.toUpperCase()"
          [(ngModel)]="clientItem.endereco.uf"
          name="clientItemEnderecoUF"
          [required]="true"
        ></p-inputMask>
        <label for="clientItemEnderecoUF">UF</label>
      </span>
    </div>
    <div class="col-12">
      <p-divider align="center">
        <b>Contato</b>
      </p-divider>
    </div>
    <div class="col-12">
      <span class="p-float-label">
        <input
          id="clientItemContatoEmail"
          type="text"
          [disabled]="!isEditable"
          pInputText
          email
          [(ngModel)]="clientItem.contato.email"
          name="clientItemContatoEmail"
          required
        />
        <label for="clientItemContatoEmail">Email</label>
      </span>
    </div>
    <div class="col-4">
      <span class="p-float-label">
        <p-inputMask
          inputId="clientItemContatoTelefoneFixo"
          [disabled]="!isEditable"
          mask="(99)9999-9999"
          [(ngModel)]="clientItem.contato.telefone.fixo"
          name="clientItemContatoTelefoneFixo"
          [required]="true"
        ></p-inputMask>

        <label for="clientItemContatoTelefoneFixo">Telefone Fixo</label>
      </span>
    </div>
    <div class="col-4">
      <span class="p-float-label">
        <p-inputMask
          inputId="clientItemContatoTelefoneCelular"
          [disabled]="!isEditable"
          mask="(99)99999-9999"
          [(ngModel)]="clientItem.contato.telefone.celular"
          name="clientItemContatoTelefoneCelular"
          [required]="true"
        ></p-inputMask>

        <label for="clientItemContatoTelefoneCelular">Telefone Celular</label>
      </span>
    </div>
    <div class="col-4">
      <span class="p-float-label">
        <p-inputMask
          inputId="clientItemContatoWhatsApp"
          [disabled]="!isEditable"
          mask="(99)99999-9999"
          [(ngModel)]="clientItem.contato.whatsApp"
          name="clientItemContatoWhatsApp"
          [required]="true"
        ></p-inputMask>
        <label for="clientItemContatoWhatsApp">WhatsApp</label>
      </span>
    </div>
  </div>
  <div
    class="footer"
    *ngIf="isEditable"
    [@fadeInExpandOnEnter]
    [@collapseOnLeave]
  >
    <button
      (click)="dialogRef.close()"
      pButton
      pRipple
      type="button"
      label="Cancel"
      class="p-button-raised p-button-danger"
    ></button>
    <button
      pButton
      pRipple
      type="submit"
      label="Save"
      [disabled]="!clienteModal.valid"
      class="p-button-raised p-button-success"
    ></button>
  </div>
</form>
